GOOGLE_API_KEY=your-google-api-key
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_TEXT_MODEL=gemini-2.5-flash-lite

SUPABASE_PASSWORD=your-supabase-password

NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
DATABASE_URL="postgresql://your-database-url"


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
CLERK_SECRET_KEY=your-clerk-secret-key